@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
:root{
    --cor-fundo: #12111F;
    --cor-primaria: #EF6EBE;
    --cor-secudaria: white;
    --font-texto: "Allura", cursive;
    --font-cabecalho: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-fundo);
    color: white;
}


        /* PAGINA 1 */
.apresentacao_pag1{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        flex-direction: column;
    }

.imagem{
        height: 18rem;
        width: 18rem;
    }

.titulo{
        font-weight: 400;
        font-size: 3rem;
    }

    /* PAGINA 2 */

        /* Cabecalho */

.cabecalho{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}

.cabecalho__texto{
    font-family: var(--font-cabecalho);
    font-weight: 400;
    font-size: 48px;
}

.link__home{
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 0.5rem;
    border: 5px solid var(--cor-primaria);
    
}

.home{
    font-family:var(--font-cabecalho);
    font-weight: 400;
    font-size: 48px;
    color: var(--cor-secudaria);
}

        /* Conteudo */

.apresentacao{
    margin: 10% 6% 0% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

}

        /* Bloco - 1 Logo */

.imagem__logo{
    padding-left: 15%;
}

.empresa_logo{
    font-family: var(--font-texto);
    font-weight: 400;
    font-size: 66px;
}

        /* Bloco - 2 Cores */

.circulos{
    display: flex;
    flex-direction: column;
    gap: 165px;
}

.circulo__roxo, .circulo__rosa, .circulo__branco{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.circulo__roxo{
    background-color: var(--cor-fundo);
    border: 2px solid var(--cor-secudaria);
}

.circulo__rosa{
    background-color: var(--cor-primaria);
}

.circulo__branco{
    background-color: var(--cor-secudaria);
}

        /* Bloco - 2 Span */

.circulos__span{
    display: flex;
    flex-direction: column;
    gap: 190px;
}

.texto__span{
    font-size: 24.5px;
}

        /* Bloco - 3 conteudo Texto */

.conteudo__logo{
    width: 32rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    text-align: justify;

}

.creditos{
    margin: 5% 0 0 0 ;
    text-align: center;
    align-items: center;
}

.texto__creditos{
    padding: 1%;
    background-color: #EF6EBE;
    color: var(--cor-secudaria);
    font-family:var(--font-texto);
    font-size: 40px;
    font-weight: 400;
}

@media (max-width: 1280px){
    .cabecalho{
        align-items: center;
    }
    .cabecalho__texto{
        font-size: 28px;
    }
    .home{
        font-size: 28px;
    }
    .link__home{
        padding: auto;
    }

    .apresentacao{
        margin: 0%;
    }

    .logo{
        flex-direction: column;
        text-align: center;
    }

    .imagem__logo{
        padding: 0;
    }

    .empresa_logo{
        font-size: 33px;
    }


    .texto__span{
    font-size: 10.5px;
    text-align: center;
}
    .apresentacao{
        flex-direction: column;
        gap: 60px;
    }


    .circulo__roxo, .circulo__rosa, .circulo__branco{
    height: 33px;
    width: 33px;
    border-radius: 50%;
}
    .circulos{
        flex-direction: row;
        gap: 80px;
    }
    .circulos__span{
        flex-direction: row;
        gap: 0px
    }
    .texto__span{
        padding: 0% 5% 0% 5%;
        width: 50%;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }

    .conteudo__logo{
    width: 80%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    text-align: justify;
    
}
.texto__creditos{
    font-size: 22px;
}
}
